<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Sign up</h1>
    <p class="centeredDescription col_4">Already signed up? You can <a href="/login">log in here.</a></p>
    <div class="centered_col">
		<%= form_for @user do |f|%>
			<%= f.label :Name%><br>
			<%= f.text_field :name%><br>
			<%= f.label :username%><br>
			<%= f.text_field :username%><br>
			<%= f.label :password%><br>
			<%= f.password_field :password%><br>
			<%= f.label :email%><br>
			<%= f.email_field :email%><br>
			<%= f.label :Phone%><br>
			<%= f.text_field :phone%><br>
			<%= f.label :About%><br>
			<%= f.text_field :about%><br>

			<%= f.submit %>
		<%end%>

    </div><!-- end centered_col contact form -->

    <div class="centered_col">
    </div>

  </div><!-- end grid -->
</div><!-- end mainContent -->
